# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Project Specific
.dat/
*.docx
*.md
!README.md
!Ui upgradation.md
